{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->

		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<!-- Favicon -->
		<link rel="icon"  href="{% static 'images/favicon.ico'%}">

		<!-- Page Title -->
		<title>Portfolio</title>

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,900,200' rel='stylesheet' type='text/css'>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

		<!-- Custom css file -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'css/jquery.fullPage.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
		<link rel="stylesheet" href="{% static 'css/default-skin/default-skin.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.css' %}">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>

	<!-- Container -->
		<main class="container">

		<!-- Mobile Menu -->
			<div class="mobile-menu-overlay transition">
				<div class="mobile-menu">
					<i class="fa fa-times fa-2x"></i>
				</div>
				<ul class="mobile-menu-content">
					<li class="mobile-menu-item">
						<a href="#" class="dropdown">home</a>
						<ul class="mobile-submenu">
			                <li><a href="#">Home</a></li>
			            </ul>
					</li>
					<li class="mobile-menu-item">
						<a href="#" class="dropdown">blog</a>
						<ul class="mobile-submenu">
							<li><a href="#">full width</a></li>
			            </ul>
					</li>
					<li class="mobile-menu-item">
						<a href="#" class="dropdown">gallery</a>
						<ul class="mobile-submenu">
			                <li><a href="#">2 column</a></li>
			            </ul>
					</li>
					<li class="mobile-menu-item">
						<a href="#">about me</a>
					</li>
					<li class="mobile-menu-item">
						<a href="#">contact</a>
					</li>
				</ul>
			</div>
		<!-- /Mobile Menu -->

		<!-- Header -->
			<header class="transition header fixed">
				<div class="main-menu">
					<div id="logo">
						<a href="#">
							<img src="{% static 'images/logo.png' %}" alt="alex-zane-logo">
						</a>
					</div>

				<!-- Menu -->
					<nav id="menu" class="col-md-10 col-sm-10">
						<ul class="hidden-xs">
							<li><a href="#">Главная</a>
							</li>
							<li><a href="#">Блог</a>
							</li>
							<li><a href="{% url 'contact_page' %}">Контакты</a>
							</li>
							<li><a href="#">Я</a></li>
						</ul>
						<div class="mobile-menu col-xs-2 pull-right visible-xs">
							<i class="fa fa-bars fa-2x"></i>
						</div>
					</nav>
				<!-- /Menu -->

				</div>
			</header>
		<!-- /Header -->

			{% block content %}{% endblock %}


			<!-- Back to top button -->
				<a href="#logo" class="back-top btn">
					<i class="fa fa-angle-up fa-2x"></i>
				</a>
			<!-- /Back to top button -->

            		<!-- Footer -->
			<footer id="footer" class="fixed white">
				<p>© Your name 2016. All rights reserved.</p>
			</footer>
		<!-- /Footer -->

		</main>
	<!-- /Container -->

	<!-- JS -->

		<!-- jquery-1.11.3.min js -->
			<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

		<!-- Plugins -->
			<script type="text/javascript" src="{% static 'js/jquery.fullPage.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/imagesloaded.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/masonry.​min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/website-smooth-scroll.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/photoswipe.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>

		<!-- Main js -->
			<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>